# NextAuth Settings
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_super_secret_random_string

# Zitadel instace URL (e.g. https://mytenant.zitadel.cloud)
ZITADEL_ISSUER=
# Zitadel OIDC Client ID
ZITADEL_CLIENT_ID=
# Personal Access Token for a service account user with permissions to manage users and perform impersonation
ZITADEL_MACHINE_USER_PAT=
# Zitadel Organization ID where the users are managed
ZITADEL_ORG_ID=